body {
	width: 100%;
	height: 100%;
}

.Toppen {
	width: 300px;
	height: 100px;
	background: #333333;
	border: 1px solid orange;
}

.Meny {
	width: 300px;
	height: 50px;
	background: #333333;
	border: 1px solid orange;
}

li {
	display: left;
	left: 0;
	background: #303030;
	text-align: center;
}

li a {
	display: block;
	left: 0;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	display: block;
	background: #ff6600;
}

.Content {
	width: 300px;
	height: 450px;
	background: #333333;
	border: 1px solid orange;
}

.Botten {
	width: 300px;
	height: 50px;
	background: #333333;
	border: 1px solid orange;
}

#Table {
	border: 1px solid orange;
	border-radius: 3px;
	text-align: center;
	margin: 10px;
	color: white;
}

